version: "3.9"

services:
  nextjs:
    image: node:20
    working_dir: /app
    container_name: valheim_next
    restart: unless-stopped

    environment:
      PORTAINER_URL: "${PORTAINER_URL}"
      PORTAINER_TOKEN: "${PORTAINER_TOKEN}"
      CONTAINER_NAME: "${CONTAINER_NAME}"
      NEXT_PUBLIC_BACKEND_URL: "${NEXT_PUBLIC_BACKEND_URL}"

    ports:
      - "3000:3000"

    volumes:
      - ./:/app
      - /app/node_modules

    command: >
      sh -c "
        npm install &&
        npm run build &&
        npm start
      "
