version: "3.9"

services:
  frontend:
    container_name: valheim-server-companion-frontend
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
    restart: unless-stopped

    environment:
      # Next.js env
      NEXT_PUBLIC_BACKEND_URL: "${NEXT_PUBLIC_BACKEND_URL}"

      # reszta zmiennych przekazywana do API routes Next.js
      PORTAINER_URL: "${PORTAINER_URL}"
      PORTAINER_TOKEN: "${PORTAINER_TOKEN}"
      CONTAINER_NAME: "${CONTAINER_NAME}"

    ports:
      - "3000:3000"
